{% extends "base.html" %}
{% block title %}Записи сообщества {{ group }}{% endblock %}
{% block header %}{{ group }}{% endblock %}
{% block content %}

    <h1>{{ group.title }}</h1>

    <p>{{ group.description }}</p>

    <div class="container">
        {% for post in page %}
            {% include "post_item.html" with post=post %}
        {% endfor %}
    </div>

    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %}